.MuiInputBase-root {
  border-radius: 6px !important;
}
header .MuiPaper-root .MuiPaper-elevation {
  display: none !important;
}
header.MuiPaper-root.MuiPaper-elevation.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed {
    display: none;
}
